body {
	font-family: arial, verdana, sans-serif;
	font-size: 14px;
	margin: 10px;
}

a:link {text-decoration:none; color:#3333FF}
a:visited {text-decoration:none}
a:hover {text-decoration:underline}
a:active {text-decoration:none}

body#main_body {
	background-image:url(../images/body_bg.gif);
}

td {
	font-family: arial, verdana, sans-serif;
	font-size: 14px;
	empty-cells:show;
}

li {
	margin-bottom:5px;
}

form {
	font-family: arial, verdana, sans-serif;
	font-size: 14px;
	margin-bottom:0px;
	margin-top:0px;
	padding-bottom:0px;
	padding-top:0px;
}

input, select {
	font-size: 12px;
	font-family: arial, verdana, sans-serif;
}

input:focus, textarea:focus{
	background-color: #FFFFDD;
}

p {
	font-family: arial, verdana, sans-serif;
	margin-bottom:16px;
	margin-top:16px;
	padding-bottom:0px;
	padding-top:0px;
}


td {
	empty-cells:show;
}


h3{
 font-family: arial, verdana, sans-serif;
 font-size: 16px;
 color:#990000;
 margin-bottom:16px;
 margin-top:18px;
 padding-bottom:0px;
 padding-top:0px;
}

h4{
 margin-bottom: 4px;
 padding-bottom: 4px;
}

hr {
	height: 1px;
	color: #BBBBBB;
	background-color: #BBBBBB;
	border: 0px;
}

textarea {
	font-size: 12px;
	font-family: arial, verdana, sans-serif;
	overflow:auto;
}

img {
	border:0px;
	vertical-align:text-bottom;
}

.welcome {
	font-weight: bold;
	font-size: 16px;
	color: #990000;
	margin-top: 4px;
	padding-top: 0px;
	margin-bottom: 15px;
}

.h3gray {
	font-weight: bold;
	font-size: 14px;
	color: #333333;
}

.styleLeftColumn {
	border-right:1px solid #DFEBFF; 
	border-bottom:1px solid #DFEBFF;
	font-weight: bold;
	font-size: 12px;
	color: #112233;
}
.styleLeftColumn1 {
	border-right:1px solid #DFEBFF; 
	border-bottom:1px solid #DFEBFF;
	font-weight: bold;
	font-size: 13px;
	color: #FFFFFF;
}
.styleLeftColumn2 {
	border-right:1px solid #DFEBFF; 
	border-bottom:1px solid #DFEBFF;
	font-weight: bold;
	font-size: 13px;
	color: #990000;
}
.boldDarkGrey {
	font-weight: bold;
	font-size: 12px;
	color: #112233;
}
.tdData {
	border-right:1px solid #DFEBFF; 
	border-bottom:1px solid #DFEBFF;
	font-size: 12px;
	font-family: arial, verdana, sans-serif;
}


.styleSubject {
	color: #FFFFFF;
	font-weight: bold;
}

.block_generic {
	margin-left: 16px;
	padding-left: 0px;
	margin-top: 4px;
	padding-top: 0px;
	margin-right: 0px;
	padding-right: 0px;
	margin-bottom: 4px;
	padding-bottom: 0px;
}

.block_search_groups {
	margin-left: 16px;
	padding-left: 16px;
	margin-top: 0px;
	padding-top: 0px;
	margin-right: 0px;
	padding-right: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.block_references {
	font-size: 12px;
	margin-left: 2px;
	padding-left: 0px;
	margin-top: 4px;
	padding-top: 0px;
	margin-right: 0px;
	padding-right: 0px;
	margin-bottom: 6px;
	padding-bottom: 0px;
	border-top: none;
}

.midContent {
	font-size: 13px;
}
.smallContent {
	font-size: 12px;
}
.xsmallContent {font-size: 11px;}

.subhead {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

.temphead {font-size: 18px; line-height: 18px; color: #ffffff; margin-left:16px; margin-right:16px;}

.footerlink {font-size: 12px; line-height: 22px;  font-weight:bold; padding-right: 10px; padding-left: 10px; text-decoration:none}
a.footerlink:link {color: #000066;}
a.footerlink:visited {color: #000066;}
a.footerlink:hover {color: #003366;}
a.footerlink:active {color: #000066;}

.topnav {font-size: 12px; font-weight:bold; line-height: 14px; margin-top:10px; margin-bottom:4px; color:#993333; text-decoration:none}
.topnav1a {font-size: 13px; line-height: 15px; text-decoration:none;}
a.topnav1a:link {color: #000099;}
a.topnav1a:visited {color: #000099;}
a.topnav1a:hover {color: #888800;}
a.topnav1a:active {color: #000099;}

.topnav2 {font-size: 12px; line-height: 12px; margin-left: 12px; text-decoration:none; margin-bottom:4px; }
a.topnav2a:link {color: #000099;}
a.topnav2a:visited {color: #000099;}
a.topnav2a:hover {color: #888800;}
a.topnav2a:active {color: #000099;}

.mainheadblue {
	font-size: 16px;
	line-height: 20px;
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}

div#msgbox {
	width:500px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 60px;
}

div#msgbox_caption {
	font-weight:bold;
}

ul#msgbox_operations {

}

.msgbox_operation {
	margin-top: 10px;
	margin-bottom:10px;
}

div#errbox {
	width:500px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 20px;
}

div#errbox_caption {
	font-weight:bold;
	margin-top: 10px;
	margin-bottom:10px;
}

div#errbox_msg {
	color:#FF0000;
	margin-top: 10px;
	margin-bottom:10px;
}

div#errbox_header {
	color:#990000;
	margin-top: 10px;
	margin-bottom:10px;
}


div#errbox_operation {
	margin-top: 10px;
	margin-bottom:10px;
}

A.NCBIProteinGI {
	background-color:#EE9999;
	padding:0px 2px 0px 2px;
	margin:0px 2px 0px 2px;
	font-weight:bold;
	text-decoration:none;
}

.deletedRecord {
	background-color:#EE9999;
	color:#990000;
}

.buttonCancel {
	margin-left: 60px;
}

.titlePane1 {
	background-color:#2A4184;
	margin: 7px 5px 2px 5px;
}

.titlePane2 {
	background-color:#E4E4E4;
	margin: 2px 5px 2px 5px;
}

.detailPane1 {
	font-size: 12px;
	margin: 2px 5px 2px 5px;
}

.styleSubject2 {
	font-weight: bold;
}

.toc { font-size: 12px;}
a.toc:link {color: #111111;}
a.toc:visited {color: #111111;}
a.toc:hover {color: #111111; background-color:#DDDDDD}
a.toc:active {color: #111111;}


.homeIcon {
	background-image: url(/images/logo_s.gif);
	background-repeat: no-repeat; 
	width: 24px;
	height: 20px;
}

.fasta {
	font-family:"Courier New", Courier, monospace;
}

.darkred {
	color:#990000;
}