.buildpath
.project
.settings/
composer.phar
composer.lock
vendor/
ontology/
annotator/mapping/
annotator/dictionary/

application/Config/DB.php
application/Config/HookConfig.php
application/Config/MailConfig.php
